doctype html
html
  head
    title Travel with Us
    script(src="https://cdn.tailwindcss.com")
    style
      include ../static/style.css
  body
    nav#navbar
        ul.flex-container
          each val in ["Home", "About Us", "Travel Plans", "Planets"]
            // #[] this is called tag interpolation check in docs
            li #[a(href="/") #{val}] 



    section#intro
        p Travel with us create good memory
        p Which will stay with you ever


    section#Mitro
        h2 Our plans
        div.card
          p 
          | Visit Lake
          img.mage(src="https://images.unsplash.com/photo-1519852476561-ec618b0183ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80", alt="",width="330" height="200") 
        div.card
          p 
          | Watch Aurora Boralisis
          img.mage(src="https://images.unsplash.com/photo-1556634202-129a046351c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="",width="330" height="200") 
        div.card
          p 
          | View from Moon
          img.mage(src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="",width="330" height="200") 
       

    footer#footer
        | footer




    h1 My Site
    p Welcome to my super lame site.
    script
      include ../static/index.js