<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style
        include ../static/style.css

</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Sbouy</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <div class="container"> 
        <h1>Get this gym membership for 60$</h1>
        <form action="/" method="POST" id="contact">
            <input type="text" name="name" id="name" autocomplete="off" placeholder="Hi we are welcoming you for joining GYM membership feel free to contact us" >
            <input type="text" name="age" id="age"autocomplete="off" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" autocomplete="off" placeholder="Enter your gender">
            <textarea name="address" id="addres" cols="21" rows="4"autocomplete="off" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" cols="21" rows="4" autocomplete="off" placeholder="Enter your details"></textarea>
            <button class="btn" type="submit">Join we us</button>
        </form>
        <p>
            | #{info}    
            <!-- This is para  | here pipe is used to separate content idtentation-->
        </p>
 
</div>




</body>
</html>